body {
    font-family: Arial, sans-serif;
    background-color: #e8f1f2;
    color: rgb(45, 45, 45);
    margin: 0;
    padding: 0;
}

header {
    background-color: #1d3557;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffd166;
}

.current {
    text-decoration: underline;
}

main {
    margin: 20px;
}

section {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

footer {
    background-color: #1d3557;
    color: white;
    text-align: center;
    padding: 15px;
}

/* ID selector */
#about-page {
    background-color: #d9edee;
    padding: 20px;
    border-radius: 8px;
}

/* Descendant selector */
section p {
    line-height: 1.8;
}

/* Child selector */
section > h2 {
    color: #457b9d;
}

/* nth-child pseudo-class */
section ul li:nth-child(odd) {
    background-color: #f1f5f9;
}

/* Imagen */
img {
    max-width: 100%;
    border-radius: 8px;
    border: 3px solid #457b9d;
}

/* Tabla */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
}

table,
th,
td {
    border: 1px solid #555;
}

th {
    background-color: #457b9d;
    color: white;
}

th,
td {
    padding: 12px;
}

caption {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Quote */
blockquote {
    background-color: #f8f9fa;
    border-left: 5px solid #457b9d;
    padding: 10px;
    font-style: italic;
}
.active {
    background-color: #ffd166;
    color: #1d3557;
    padding: 5px 10px;
    border-radius: 5px;
}
.content-box {
    background-color: white;
    border: 2px solid #457b9d;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.info-box {
    background-color: #d9edee;
    padding: 15px;
    border-radius: 8px;
}
